.list-houses {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.list-houses .list-houses-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

.list-houses .list-houses-container .house-card {
  margin: 18px;
}

@media only screen and (max-width: 650px) {
  .list-houses .list-houses-container {
    justify-content: center;
  }
}
